global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM
defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    retries                 3
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

# -------------------------------------------------------------
# Frontend: Intercepts TLS traffic on Port 9096 (MSK SCRAM)
# -------------------------------------------------------------
frontend kafka_proxy_9096
    bind *:9096
    mode tcp
    
    # Wait up to 5 seconds for the TLS Client Hello packet
    tcp-request inspect-delay 5s
    
    # Accept the connection if it is a valid SSL/TLS Hello packet
    tcp-request content accept if { req_ssl_hello_type 1 }
    
    # Route to the correct backend based on the SNI header
    use_backend broker1 if { req_ssl_sni -i b-1.proddevopsmskcluster.7vvz9u.c3.kafka.ap-south-1.amazonaws.com }
    use_backend broker2 if { req_ssl_sni -i b-2.proddevopsmskcluster.7vvz9u.c3.kafka.ap-south-1.amazonaws.com }
    use_backend broker3 if { req_ssl_sni -i b-3.proddevopsmskcluster.7vvz9u.c3.kafka.ap-south-1.amazonaws.com }
    
    # Drop traffic if the SNI doesn't match any of our brokers
    default_backend default_drop

# -------------------------------------------------------------
# Backends: Forward raw TCP streams to private MSK IPs
# -------------------------------------------------------------
backend broker1
    mode tcp
    server b1 b-1.proddevopsmskcluster.7vvz9u.c3.kafka.ap-south-1.amazonaws.com:9096 check

backend broker2
    mode tcp
    server b2 b-2.proddevopsmskcluster.7vvz9u.c3.kafka.ap-south-1.amazonaws.com:9096 check

backend broker3
    mode tcp
    server b3 b-3.proddevopsmskcluster.7vvz9u.c3.kafka.ap-south-1.amazonaws.com:9096 check

backend default_drop
    mode tcp
